html, body {
    overflow-y: hidden; 
    overflow-x: hidden; 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

div img{
    width: 60vh;
    margin: auto;
}

#s1, #s2, #s3, #s4, #s5, #s6, #s7, #s8, #s9, #s10, #s11, #s12, #s13, #s14{
    display: none;
}

.webgl{
    position: relative;
    z-index: 1;
}

.textbox{
    background-color: #D8B78D;
    width: 40vw;
    border: #2C1D10 3px solid;
    border-radius: 10px;
    flex-direction: column;
}

.step{
    z-index: 2;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

h1{
    font-family: Play;
    font-size: 2vw;
    margin: auto;
    text-align: center;
    line-height: 5vh;
}
p{
    margin: auto;
    text-align: center;
}

span{
    display: flex;
    justify-content: flex-end;
    margin: 0 1vw;
    align-items: center;
}

span button{
    /*border: #2C1D10 2px solid;*/
    border: none;
    border-radius: 10px;
    background-color: #BB762D;
    margin: 0.5vh 0.5vw 1.3vh 0.5vw;
    padding: 0.6% 1.6%;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 4px 7px;
}

span button:hover{
    background-color: #9c6021;
    transition: 300ms;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 4px 7px;
}

.dice{
    display: flex;
    justify-content: center;
    width: 15vw;
    margin: auto;
    margin-bottom: 2vh;
}

.dice img{
    width: 3.5vw;
}